body {
    -ms-overflow-style: none;
    /* Internet Explorer 10+ */
    scrollbar-width: none;
    /* Firefox */
    margin: 0;
    position: relative;
    scroll-behavior: smooth;
}

body::-webkit-scrollbar {
    display: none;
    /* Safari and Chrome */
}

img {
    max-width: 100%;
}

.d-flex-center {
    display: flex;
    align-items: center;
    justify-content: center;
}

header {
    width: 100%;
    background-color: rgba(248, 244, 244, 0.4);
    backdrop-filter: blur(13px);
    position: fixed;
    top: 0;
    left: 0;
    z-index: 1;
}

* {
    font-family: 'Poppins', sans-serif;
}

header .nav-bar .nav-items {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    width: 1060px;
    list-style-type: none;
    margin-bottom: 13px;
    margin-top: 0;
}

header .nav-bar {
    display: flex;
    justify-content: center;
}

.item {
    color: black;
    padding: 34px 12px 7px 12px;
    border-top: none;
    cursor: pointer;

}

.item:hover {
    border-radius: 30px;
    background-color: aqua;
    animation: wave 4s ease-in-out infinite;

}

@keyframes wave {

    /* start point */
    0%,
    100% {
        clip-path: polygon(0% 46%,
                17% 45%,
                34% 50%,
                56% 61%,
                69% 62%,
                86% 60%,
                100% 51%,
                100% 100%,
                0% 100%);
    }

    /* Mid point */
    50% {
        clip-path: polygon(0% 59%,
                16% 64%,
                33% 65%,
                52% 61%,
                70% 52%,
                85% 47%,
                100% 48%,
                100% 100%,
                0% 100%);
    }
}

section {
    width: 100%;
    background-color: rgb(167, 167, 231);
    height: 100vw;
}

.content {
    display: block;
    padding: 30px;
}

section .container {
    width: 100%;
    display: block;
    height: 100%;
}

.wrapper {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    margin: 0 auto;
    height: 70vh;
}

.wrapper h4 {
    font-size: 51px;
    font-weight: 700;
    color: #020202;
}

.content--1 {
    padding: 70px;
    background-color: rgb(167, 167, 231);
}

.gallery>img {
    width: 30%;
}

.wrapper img {
    max-width: 100%;
}

.content--2 {
    background-color: rgb(167, 167, 231);
}

.content--3 {
    padding-left: 50px;
    padding-right: 460px;
    background-color: rgb(167, 167, 231);
}